/* Font Family Below */

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight:200;
  text-align:center;
  background-color: rgb(47, 67, 98);
  padding:1rem;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 100;
}

h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 100;
}

h3.animeTitle {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 100;
  text-align: center;
  height:2rem;
  padding-right:0.2rem;
  padding-left:0.2rem;
}

a{
  color:white;
}

a.lightMode{
  color:black;
}

label {
  font-family:sans-serif;
  font-size:0.9rem;
  font-weight: bold;
  font-style:italic;
}

/* Body Formatting Below */

body {
  background: rgb(30, 30, 30);
  block-size: auto;
  padding:1rem;
  margin:2rem;
  color:white;
}

body.lightMode {
  /* Set background and text color to light mode */
  background: rgb(245, 245, 245);
  color:rgb(42, 42, 42);
}

#main {
  block-size: auto;
  background: rgb(47, 67, 98);
  padding:2rem;
}

#main.lightMode {
  background: rgb(83, 145, 237);
}

#title.lightMode {
  background: rgb(83, 145, 237);
}

#animeList {
  display:inline-flex;
  /* align-items: center;
  flex-direction: row; */
  flex-wrap:wrap;
  /* align-content:center; */
  justify-content: center;
}

.mainHeader {
  margin-top:0.1rem
}

#MAL-form {
  display:block;
  margin: 1rem;
}

.card {
  background-color: rgba(73, 143, 249, 0.351);
  width: 20em;
  height: 30em;
  display: inline-grid;
  margin: 0.3rem;
  justify-items: center;
  position:relative;
  z-index:0;
  transition-property:all;
  transition-duration:0.5s;
}

.card.lightMode{
  background-color: rgba(47, 67, 98, 0.351);
}

.card:hover {
  background-color: rgb(53, 182, 241);
  z-index:1;
}

.animeImg {
  height: 20rem;
  width: 13rem;
  transition-property: all;
  transition-duration: 0.5s;
}

.animeImg:hover{
  height: 20.5rem;
  width: 13.5rem;
  cursor:pointer;
}

.learnMore {
  cursor:pointer;
  background-color: rgba(18, 30, 50, 0.45);
  border: none;
  color: white;
  height:3rem;
  width:7rem;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 16px;
  font-weight:600;
  transition-property: all;
  transition-duration:0.5s;
}

.learnMore:hover{
  height:3.3rem;
  width:7.3rem;
  background-color: rgba(168, 46, 74, 1);
}

/* Style for Light/Dark mode toggle */

.switch {
  position:relative;
  display:inline-block;
  width:40px;
  height:20px;
}

.switch input {
  opacity:0;
  height:0px;
  width:0px;
}

.sliderround {
  position:absolute;
  cursor:pointer;
  background-color: rgb(55, 55, 55);
  top:0;
  left:0;
  right:0;
  bottom:0;
  -webkit-transition: .4s;
  transition:.4s;
}

.sliderround:before {
  position: absolute;
  content: "";
  border-style: solid;
  border-color: rgb(62, 62, 62);
  border-width:1px;
  height: 20px;
  width: 20px;
  left: -1px;
  bottom: -1px;
  background-color: white;
  transition: .4s;
}

input:checked + .sliderround {
  background-color: rgb(214, 214, 214);
}

input:checked + .sliderround:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.sliderround {
  border-radius: 20px;
}

.sliderround:before {
  border-radius: 20px;
}

/* Styles for everything below main content */

#bottom {
  block-size: auto;
  background: rgb(47, 67, 98);
  padding:0.5rem;
}

#bottom.lightMode {
  background: rgb(83, 145, 237);
}

.credits {
  margin-top: 0.1rem;
  margin-left:0.2rem;
}


/* Z index hierarchy:
1. 1 is card
2. 2 is hover over card
3. 3 is text over img */