/* Font Family Below */

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight:200;
  color:white;
  text-align:center;
  background-color: rgb(47, 67, 98);
  padding:1rem;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 100;
  color:white
}

h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 100;
  color:white
}

a {
  color:white 
}

/* Body Formatting Below */

body {
  background: rgb(30, 30, 30);
  block-size: auto;
  padding:1rem;
  margin:2rem;
}

#main {
  block-size: auto;
  background: rgb(47, 67, 98);
  padding:2rem;
}

#animeList {
  margin:1rem;
}

.mainHeader {
  margin-top:0.1rem
}

#MAL-form {
  display:block;
  margin: 1rem;
}

.card {
  text-align: center;
  /* border: rgb(123, 123, 123) solid .1rem; */
  background-color: rgba(73, 143, 249, 0.351);
  width: 20rem;
  height: 30rem;
  display: inline-grid;
  margin: 0.1rem;
  margin-bottom: 0.3rem;
  padding:0.1rem;
  justify-items: center;
}

.animeImg {
  height: 20rem;
  width: 15rem;
}

#bottom {
  block-size: auto;
  background: rgb(47, 67, 98);
  padding:0.5rem;
}

.credits {
  margin-top: 0.1rem;
  margin-left:0.2rem;
}


