h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight:200;
  color:white;
  text-align:center;
  background-color: rgb(47, 67, 98);
  padding:1rem;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 100;
  font-size: larger;
  color:white
}

a {
  color:white 
}

body {
  background: rgb(30, 30, 30);
  block-size: auto;
  padding:2rem;
}

#main {
  block-size: auto;
  background: rgb(47, 67, 98);
  padding:1rem;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 2rem;
  width: 15rem;
  height: 30rem;
  display: inline-grid;
  margin: 2px;
  justify-items: center;
}
